.header {
    display: flex;
    background-color: rgb(111, 54, 32);
}

.logo {
 width: 200px;
 height: 100px;
  display: flex;
    align-items: center;
}

.name {
    margin: auto;
     display: flex;
    align-items: center;
}

.mail {
 color: black;
}

.tel {
 color: black;
}

.list {
    gap: 30px;
    display: flex;
}

.item {
    display: flex;
    align-items: center;
}